@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}

/* Input starts here */

.row {
  width: 100%;
  padding: 0px 10%;
  z-index: 1;
  text-align: center;
}
.top {
  position: relative;
  top: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.row span {
  position: relative;
  display: inline-block;
  margin: 20px auto;
}

.button {
  display: inline-block;
  width: 100px;
  padding: 10px 0;
  font-family: "Open Sans", sans;
  font-weight: 200;
  background: #5790DC;
  color: white;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  border: 0;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
.button:focus {
  outline: none; 
}
.updating {
  background: white;
  color: gray;
  text-shadow: none;
}

.card-slide {
  display: inline-block;
  width: 270px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #5790DC;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 115px;
  transition: all .3s ease-in-out;
}
.card-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.card-slide + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #5790DC;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: right center;
  transform: perspective(300px) scaleX(1) rotateY(0deg);
}

span:nth-child(2) .card-slide {
  text-indent: 55px;
}

span:nth-child(3) .card-slide {
  text-indent: 150px;
}

span:nth-child(2) .card-slide:focus,
span:nth-child(2) .card-slide:active,
span:nth-child(3) .card-slide:focus,
span:nth-child(3) .card-slide:active {
  text-indent: 0;
}

.card-slide:focus,
.card-slide:active {
  color: #5790DC;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.card-slide:focus::-webkit-input-placeholder,
.card-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.card-slide:focus + label,
.card-slide:active + label {
  transform: perspective(600px) translateX(-100%) rotateY(80deg);
}





/* Joystick starts here */

.joy {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: auto;
}

.joy .nipple, .joy .nipple .back, .joy .nipple .front {
  opacity: 0.99 !important;
}
.joy .nipple .front {
  position: absolute;
  width: 87.5px !important;
  height: 87.5px !important;
  margin-top: -43.75px !important;
  margin-left: -43.75px !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
  padding: 10px !important;
  box-shadow: 0 10px 20px rgba(101, 109, 120, 0.4) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EBEEF3)) !important;
  background: linear-gradient(to bottom, #fff 0%, #EBEEF3 100%) !important;
}
.joy .nipple .front::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8);
  background: radial-gradient(#5790DC, #5790DC 4px, transparent 5px), url('data:image/svg+xml;utf8,<svg width="136px" height="137px" viewBox="0 0 136 137" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.300000012"><g fill-rule="nonzero" fill="#AAB2BD"><polygon transform="translate(130.000000, 68.485714) scale(-1, 1) translate(-130.000000, -68.485714)" points="124 68.4857143 133.818182 78.7714286 136 76.4857143 128.363636 68.4857143 136 60.4857143 133.818182 58.2 125.090909 67.3428571"></polygon><polygon points="0.4 68.4857143 10.2181818 78.7714286 12.4 76.4857143 4.76363636 68.4857143 12.4 60.4857143 10.2181818 58.2 1.49090909 67.3428571"></polygon><polygon points="66.5857143 0.5 56.3 10.3181818 58.5857143 12.5 66.5857143 4.86363636 74.5857143 12.5 76.8714286 10.3181818 67.7285714 1.59090909"></polygon><polygon points="66.5857143 136.9 56.3 127.081818 58.5857143 124.9 66.5857143 132.536364 74.5857143 124.9 76.8714286 127.081818 67.7285714 135.809091"></polygon></g></g></svg>');
  background-size: 76px 76px;
  background-repeat: no-repeat;
  background-position: 12px 12px;
  border-radius: 100%;
  z-index: 2;
  border: 1px solid rgba(204, 209, 217, 0.3);
}
.joy .nipple .front::after {
  position: absolute;
  content: '';
  width: 87.5px;
  height: 87.5px;
  top: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(#e8edf4), to(#f5f7fa));
  background: linear-gradient(to bottom, #e8edf4 0%, #f5f7fa 100%);
}
.joy .nipple .back {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f5f7), to(#f9fafc)) !important;
  background: linear-gradient(to bottom, #f3f5f7 0%, #f9fafc 100%) !important;
}
.joy .nipple .back::after {
  position: absolute;
  content: '';
  width: 280px;
  height: 280px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100%;
  box-shadow: inset 0 0 10px rgba(67, 74, 84, 0.4);
  background: radial-gradient(ellipse at center, #fcfdff 0%, #d8dee7 100%);
}

.joy .nipple .back.shoot::after {
  background: radial-gradient(ellipse at center, #5790DC 0%, rgb(60, 105, 163) 100%);
}
